.header {
	margin-bottom: 5px;

	.header__content-wrap {
		min-height: 175px;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;

		@include breakpoint(max-width 1200px) {
			justify-content: space-around;
			margin-top: 15px;
		}

		@include breakpoint(max-width 992px) {
			&>div {
				margin-right: 10px;

				&:last-child {
					margin: 0;
				}
			}
		}

		@include breakpoint(max-width 576px) {
			&>div {
				margin: 0;

				&:last-child {
					margin-top: 20px;
				}
			}
		}

		.header__logo {
			h3 {
				margin: 10px 0;
				font-weight: 800;
				font-size: 24px;
				color: #253a78;
			}

			img {
				width: 160px;
				height: 60px;
			}
		}

		.header__search {
			max-width: 580px;
			width: 100%;
			
			@include breakpoint(max-width 1200px) {
				order: 2;
				margin-top: 10px;
			}

			@include breakpoint(max-width 576px) {
				order: 0;
			}

			h2 {
				margin: 0;
				font-weight: 800;
				font-size: 30px;
				color: #ff6600;
			}

			p {
				margin: 0 0 15px 0;
				font-size: 24px;
				color: #27356F;
			}

			#search {
				max-width: 520px;
				width: 86%;
				margin-top: 5px;
				padding: 2px 10px;
				border: 1px solid #a8a8a8;

				@include breakpoint(max-width 576px) {
					width: 100%;
				}
			}

			label {
				color: #071e41;
				font-size: 14px;
			}

			button {
				padding: 2px 10px;
				background: linear-gradient(to bottom, #fff, #e0e0e0);
				border: 1px solid #a8a8a8;

				@include breakpoint(max-width 576px) {
					margin-top: 10px;
				}
			}
		}

		.header__callback {
			text-align: right;

			.header__callback-call {
				margin-bottom: 20px;
			}

			p {
				margin: 0;
				display: flex;
				-webkit-align-items: center;
				        align-items: center;
				color: #071e41;
			}

			img {
				margin-left: 5px;
			}
		}
	}
}