.header {
	margin-bottom: 5px;
	padding-top: 20px;
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	@include breakpoint(max-width 450px) {
		padding-top: 10px;
	}
	
	.mob-contacts {
		display: none;
		margin: 0 auto;
		text-align: center;
		color: #fff;
		@include breakpoint(max-width 630px) {
			display: block;
		}
	}

	.header__content-wrap {
		min-height: 175px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include breakpoint(max-width 1200px) {
			justify-content: space-around;
		}

		@include breakpoint(max-width 992px) {

		}
		@include breakpoint(max-width 630px) {
			min-height: inherit;
		}

		@include breakpoint(max-width 576px) {
			&>div {
				margin: 0;

				&:last-child {
					margin-top: 20px;
				}
			}
		}

		.header__logo {
			margin-right: 120px;

			@include breakpoint(max-width 1200px) {
				margin-right: 0;
			}

			@include breakpoint(max-width 992px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				order: -1;
				width: 100%;
			}
			h3 {
				margin: 0;
				font-weight: 800;
				font-size: 18px;
				color: #26346e;
			}

			img {
				width: 167px;
				height: 75px;
				@include breakpoint(max-width 450px) {
					width: 90px;
					height: auto;
				}
			}
		}

		.header__search {
			width: 440px;

			@include breakpoint(max-width 992px) {
				width: 50%;
			}

			@include breakpoint(max-width 630px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;

				h2,
				p {
					text-align: center;
				}
			}

			@include breakpoint(max-width 576px) {
				order: 0;
			}

			h2 {
				margin: 0;
				font-family: 'AppetiteR', serif;
				font-weight: 800;
				font-size: 24px;
				color: #3982e1;
				@include breakpoint(max-width 630px) {
					font-size: 18px;
				}
			}

			.header__delivery {
				font-weight: 700;
				font-size: 16px;
				color: #224c92;
				@include breakpoint(max-width 630px) {
					display: none;
				}
			}

			.header__address {
				width: 230px;
				font-weight: 300;
				font-size: 13px;
				color: #224c92;
				@include breakpoint(max-width 630px) {
					display: none;
				}
			}
		}

		.header__callback {
			display: flex;
			
			@include breakpoint(max-width 992px) {
				justify-content: flex-end;
				width: 50%;
			}

			@include breakpoint(max-width 630px) {
				display: none;
				width: 100%;
				margin-top: 20px;
				justify-content: center;
			}

			.header__callback-call {
				display: flex;
				flex-direction: column;
				margin-right: 20px;
			}

			.header__callback-schedule {
				width: 243px;
				padding-left: 8px;

				p {
					margin: 0;
					font-size: 14px;
					color: #224c92;
				}

				span {
					margin-left: 4px;
					color: #3982e1;
				}
			}

			.header__form {
				position: relative;
				width: 250px;
				margin-top: 20px;

				.search__header {
					padding: 5px 15px 3px;
					border-radius: 17px;
					border: 1px solid #b7defd;
					background-color: #edf6fe;

					&::placeholder {
						color: #5c636d;
						font-size: 13px;
						font-weight: 300;
						opacity: 1;
					}
				}

				.submit__header_label {
					position: absolute;
					top: 5px;
					right: 45px;
				}

				.submit__header {
					position: absolute;
					width: 1px;
					height: 1px;
					z-index: -999;
				}
			}

			.header__callback-soc {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;
			}

		}
	}
}