.food {
	position: relative;
	box-shadow: inset 0px 15px 30px -18px rgba(50, 50, 50, 0.4);
	&-slider {
		height: 890px;

		@include breakpoint(max-width 768px) {
			height: 630px;
		}

		@include breakpoint(max-width 576px) {
			height: 100vh;
		}

		.slick-list,
		.slick-track  {
			height: 100%;
		}
	}
	&__slider-bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;

		@include breakpoint(max-width 992px) {
			object-position: left;
		}
	}
	&__price {
		font-size: 24px;
		color: #1653a0;
	}
	.food__wrap {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
		left: 0;
		padding-top: 100px;

		@include breakpoint(max-width 992px) {
			padding-top: 50px;
		}
		@include breakpoint(max-width 630px) {
			padding-top: 10px;
		}

		.food__text {
			.food__title {
				&-main {
					margin: 0;
					font-family: 'Corinthia', sans-serif;
					font-weight: normal;
					font-size: 120px;
					color: #1653a0;
					line-height: 1;
					@include breakpoint(max-width 630px) {
						font-size: 70px;
					}
					@include breakpoint(max-width 450px) {
						margin-top: 10px;
						font-size: 50px;
						line-height: 40px;
					}
					span {
						color: #e28648;
					}

					@include breakpoint(max-width 992px) {
						text-align: center;
					}
				}
			}

			.food__title-main_line-height {
				line-height: 80px;

				@include breakpoint(max-width 450px) {
					line-height: 40px
				}
			}

			.food__describe {
				max-width: 460px;
				h2 {
					font-family: 'Lato-Black', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #1653a0;
					text-transform: uppercase;
					@include breakpoint(max-width 630px) {
						font-size: 20px;
					}
				}

				p {
					max-width: 355px;
					font-size: 17px;
					color: #282828;
				}
			}

			.order {
				margin-top: 50px;
				@include breakpoint(max-width 450px) {
					margin-top: 30px;
				}
				a {
					padding: 15px 30px;
					font-family: 'Lato-Bold', sans-serif;
					font-size: 23px;
					background: linear-gradient(to right, #1c539d, #253f7d);
					color: #FFF;
					-webkit-border-radius: 50px;
					        border-radius: 50px;
					-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
					        box-shadow: 0 10px 30px rgba(0,0,0,0.3);
					&:hover, &:active, &:focus {
						background: #1c539d;
					}
				}
			}
		}

		.food__img {
			position: relative;
			top: 100px;
			right: 20vw;
			
			@include breakpoint(max-width 1600px) {
				display: none;
			}

			img {
				min-width: 270px;
				width: 100%;
			}
		}
	}
}
