.footer {
	background-color: #3982e1;
	color: white;
	.footer__wrap {
	    flex-direction: column;

	    @include breakpoint(max-width 992px) {
	    	&>div {
	    		margin-right: 10px;
	    	}
	    }

		.footer__contacts {
			width: 100%;
			margin-top: 30px;
			display: flex;
	        justify-content: space-between;

	        @include breakpoint(max-width 992px) {
	        	flex-wrap: wrap;
	        	justify-content: space-around;
	        	&>div {
	        		margin-top: 10px;
	        		margin-right: 10px;
	        	}
	        	&>div:last-child {
	        		margin: 0;
	        	}
	        }

			.footer__social {

				@include breakpoint(max-width 576px) {
					margin-top: 10px;
				}

				h2 {
					margin: 0;
					font-family: 'Corinthia', sans-serif;
					font-weight: normal;
					font-size: 57px;
				}

				.footer__social-icons {
					display: flex;
			        justify-content: space-around;

					a {
						transition: opacity 0.2s;

						&:hover, &:active, &:focus {
					        	opacity: 0.8;
					        	transition: opacity 0.2s;
					        }
					}
				}
			}

			.footer__address {
				max-width: 175px;
				display: flex;
				font-family: 'Open Sans', sans-serif;

				@include breakpoint(max-width 576px) {
					margin-top: 10px;
				}

				div {
					height: 100%;
				}

				h4, p {
					margin: 0px 0 0 5px;
					font-size: 16px;
					line-height: 22px;
				}
			}

			.footer__phone {
				font-size: 16px;
				text-align: center;

				.schedule {
					display: flex;
			        align-items: center;

					.icon-phone-1 {
						font-size: 20px;
					}
				}

				.margin-top20 {
					margin-top: 20px;
					display: flex;
			        justify-content: center;
			        align-items: center;

					img {
						margin-right: 5px;
					}
				}

				span {
					font-weight: 800;
					font-size: 16px;
				}

				p {
					#order {
						padding: 9px 40px;
						font-weight: 700;
						font-size: 18px;
						background-color: #FFF;
						color: #3982e1;
						border: 1px solid white;
						cursor: pointer;
				        border-radius: 50px;
				        box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
				        transition: all 0.2s;

						&:hover, &:active, &:focus {
							background-color: transparent;
							color: white;
						    transition: all 0.2s;
						}
					}
				}
			}
		}
	}

	.footer__nav {
		max-width: 780px;
		width: 80%;
		margin: 30px 0;
		.footer__nav-menu {
			display: flex;
	        justify-content: space-between;

	        @include breakpoint(max-width 992px) {
	        	flex-wrap: wrap;
	        	justify-content: space-around;

	        	&>a {
	        		margin-right: 10px;
	        	}

				&>a:last-child {
					margin: 0;
				}
	        }

			a {
				color: white;
				&:hover, &:active, &:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.footer__alert {
		max-width: 920px;
		width: 95%;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
	}
}